.header{
    grid-area: header;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;

}
.header__img{
    width: 100px;
}
.header__img:hover{
    transform: rotate(360deg);
}
.header__title{
    color: white;
    font-size: 2rem;
}
.header__nav{
    padding: 1rem;
    width: 900px;
  
}
.nav__menu{

    display: flex;
    justify-content: space-around;
    list-style: none;
}
.menu__items{
   transition: all 1s; 
   margin-right: 30px;
   font-size: 1.5rem;
}
.menu__items:hover{
transform: scale(1.5);


}
.items__links{
    color: white;
    text-decoration: none;
}