@media screen and (min-width: 375px ) {
    .header__img{
        display: block;
    }
    .main__article{
        flex-direction: row-reverse;
    }
 
}
@media screen and (min-width: 425px ) {
    .article__image{
        display: block;
       width: 300px;
    }
    
}
@media screen and (min-width: 768px ) {
    .contenedor{
        display: grid;
        grid-template-columns: auto 300px;
        grid-template-rows: 100px 2fr 1fr;
        grid-template-areas: "main header"
                             "main header"
                            "footer footer";
    }
    .header{
     flex-direction: column;
     padding: 1rem;
     z-index: 1;
     border-left: 1px solid white;
     border-bottom: 1px solid white;
    
    }
    .header__img{
        width: 300px;
        transition: all 1s;
    }
    .header__img:hover{
        transform: rotate(360deg);
    }
    .header__title{
        display: none;
       
    }
    .header__nav{
        padding: 1rem;
        width: 250px;
        height: 400px;
       
    }
    .nav__menu{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    
    }
    .menu__items{
      margin-bottom: 1.5rem;
     }

    .main__article{
        flex-direction: row;
    }
    .article__image{
        width: 400px;
      transition: all 1s;
    }
    .article__image:hover{
        transform: scale(0.75);
    }


    @keyframes botones {
        from{
    left: 1400px;
        }
        to{
    left: 0;
        }
    }
    @keyframes contenedor {
        0% {
            transform: scale(1);
            opacity: 0;
          }
          50% {
            transform: scale(1.2);
            opacity: 0.1;
          }
          100% {
            transform: scale(1);
            opacity: 1;
          }
    }
    
}
@media screen and (min-width: 1440px) {
    .contenedor{
        display: grid;
        grid-template-columns: auto 1000px;
        grid-template-rows: 100px 2fr 750px;
        grid-template-areas: "header header"
                             "main aside "
                            "footer footer";
    }
    .header{
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 1rem;
  
    
    }
    .header__img{
        display: block;
        width: 150px;
    }
    .header__title{
        color: white;
        font-size: 2rem;
    }
    .header__nav{
       
        padding: 1rem;
        width: 1000px;
    }
    .nav__menu{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
  
        height: 100%;
    }
    .menu__items{
       transition: all 1s; 
       margin-right: 30px;
    }
    .menu__items:hover{
    transform: scale(1.5);
    
    
    }
.footer__cookies{
    font-size: 2rem;
}

.aside{
    display: block;
}
.article__text{
    font-size: 1.5rem;
}
.target__text{
    font-size: 1.5rem;
}
.objetfit{
   object-fit: cover;
}





}