.body{
    background-color: rgb(46, 46, 46);
    max-width: 100%;
}
.contenedor{
    display: grid;
    grid-template-columns: auto 300px;
    grid-template-rows: 100px 2fr 300px;
    grid-template-areas: "header header"
                         "main main"
                        "footer footer";
    animation: contenedor 3s forwards;
}
.main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.main__article{
    border-bottom: 1px solid white;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}
.article__image{
    width: 200px;
    display:  none;
}
.article__info{
    position: relative;
    margin: 1rem;
    color: white;
    padding: 1rem;
}
.article__button{
    position: absolute;
    width: 300px;
   margin: 0 auto;
    border: 1px solid white;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 5px;
    transition: all 1s;
    animation-name: botones;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.article__button:hover{
    background-color: rgb(46, 46, 46);
}
@keyframes botones {
    from{
left: -400px;
    }
    to{
left: 0;
    }
}
.aside{
    display: none;
    grid-area: aside;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid white;
    padding: 1rem;
    color: white;

}
.aside__title{
    font-size: 3rem ;
    width:500px;
    margin: 0 auto;

}
.aside__text{
    font-size: 2rem;
   
    margin: 1rem;
    margin-bottom: 3rem;
    padding: 1rem;
}
.flex__article{
    width: 700px;
    display: flex;
   flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.targets{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
}
.article__targets {
    position: relative;
    border: 1px solid white;
    margin: 2rem;
    margin-top: 5rem;
    padding: 1rem;
    overflow: hidden; 
    position: relative;
  }
  
  .article__targets::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    transition: transform 0.4s;
    z-index: -1;
    transform: translateY(-100%);
  }
  
  .article__targets:hover::before {
    transform: translateY(0);
  }
  
.target__img{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 1000px;
    z-index: 10;
    top: 0;
    
    }
    .target__text{
        margin-top: 3rem;
        position: relative;
        font-size: 1rem;
    }
    .image-container {
        position: relative;
        height: 500px; 
        margin-top: 1rem;
    }
    
    .aside__img {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
        height: auto;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
    
    img.activa {
        opacity: 1;
    }
.blanco{
    color: white;
}
.article__tabla{
    margin: 1rem;
    padding: 1rem;
    border-bottom: 1px solid white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.reverse{
    flex-direction: row-reverse;
}
.tabla__text{
    width: 40% ;
    color: white;
}
.objetos__antiguos{
    border-radius: 5px;
    transition: all 1s;

}
.objetos__antiguos:hover{
    transform: scale(0.75);
}
table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

tr {
    background-color: #f9f9f9;
}
.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    flex: 1 1 100%;
    margin-bottom: 8px;
    font-weight: bold;
}

 textarea, select {
    flex: 1 1 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input,textarea{
    background-color: #333;
    flex: 1 1 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input:focus{
    color: white;
}

.button {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    flex: 1 1 100%;
    transition: all 1s;
}

.button:hover {
    background-color: #ccc;
}